/*  VARIABLES & RESET  */
@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('woff2'),/* pour sortir d un repertoire courant on tape ../ */
      url('./font/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vert: #004838;
  --vert-gris:#073127;
  --vert-clair: #e8ede9;
  --jaune: #c8f135;
  --blanc: #ffffff;
  --gris: #f5f5f0;
  --texte: #222;
  --muted: #666;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--texte);
  background: var(--blanc);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*  BOUTONS  */
.btn-dark {
  background: var(--vert);
  color: var(--jaune);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-outline {
  border: 2px solid var(--blanc);
  color: var(--vert);
  padding: 11px 24px;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
  background: var(--blanc);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-green {
  background: var(--jaune);
  color: var(--vert);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 700;
  display: inline-block;

}

.btn-outline-white {
  border: 2px solid var(--blanc);
  color: var(--blanc);
  padding: 11px 24px;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
}

/* ===== BADGE ===== */
.badge {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: var(--blanc);
  justify-content: center;
  padding: 5px 14px;
  font-size: 14px;
  color: var(--vert);
  gap:9px;
  bottom: 60px;
  
 margin-bottom: 20px;
}
.zap {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
  vertical-align: middle;
  justify-content: center;
  color: var(--vert);
  filter: brightness(0) saturate(100%) invert(18%) sepia(40%) saturate(600%) hue-rotate(110deg) brightness(55%);
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 60px;
  position: sticky;
  top: 0;
  background: var(--gris);
  /*border-bottom: 1px solid #eee;*/
  z-index: 100;
}

.partners-label {
  font-size: 13px;
  color: #888;
  line-height: 1.5;
  white-space: nowrap;     /* empêche le texte de se couper */
  min-width: 120px;
}

.partner-logo {
  height: 24px;            
  width: auto;  
  filter: grayscale(100%) opacity(55%);
  
  
  transition: filter 0.2s ease;           
}


.partner-logo:hover {
  filter: grayscale(0%) opacity(100%);
}


.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.logo-icon {
  font-size: 22px;
  color: var(--vert);
}

.nav-links {
  display: flex;
  gap: 32px;
  font-size: 15px;
  margin-left: 100px;
}

.nav-btns {
  display: flex;
  gap: 12px;
}

/* ===== HERO ===== */
.hero {
position: relative;
    min-height: 90vh;           /* plus haut comme sur l'image */
    background-color: #f8f9fa;  /* blanc très légèrement gris */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px 120px;

    /* Grille subtile (carreaux) */
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.055) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.055) 1px, transparent 1px);
    background-size: 45px 45px;     /* ajuste entre 35px et 50px selon le rendu */
}

.hero h1 {
  font-size: 56px;
  font-weight: 800;
  color: var(--vert);
  line-height: 1.15;
  margin-bottom: 20px;
}

/* mot souligné en jaune */
.underline {
  text-decoration: underline;
  text-decoration-color: var(--jaune);
  text-underline-offset: 6px;
}

.hero p {
  color: var(--muted);
  font-size: 16px;
  margin-bottom: 36px;
}

.hero-btns {
  display: flex;
  gap: 14px;
  justify-content: center;
}

/* avatars flottants dans le hero */
.avatar {
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--blanc);
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.av1 {
  top: 46px;
  left: 400px;
  padding-left: 0;
  
  justify-content: center;
}

.av2 {
  top: 46px;
  right: 400px;
  padding-left: 0;
}

.av3 {
  top: 430px;
  left: 500px;
  padding-left: 0;
}

.av4 {
  top: 430px;
  right: 500px;
  padding-left: 0;
}

/* ===== PARTENAIRES ===== */
.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 36px 60px;
  border-top: 1px solid #eee;
  flex-wrap: wrap;
  margin-top: 100px;
}

.partners>p {
  font-size: 14px;
  color: var(--muted);
  line-height: 1.4;
}

.logos {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  align-items: center;
}

.logos span {
  font-weight: 600;
  font-size: 15px;
  color: #555;
}

/* ===== FEATURES ===== */
.features {
  padding: 80px 60px;
  text-align: center;
}

.features h2 {
  font-size: 38px;
  font-weight: 700;
  color: var(--vert);
  margin-bottom: 16px;
}

.features>p {
  color: var(--muted);
  max-width: 500px;
  margin: 0 auto 90px;
}

/* carte dashboard */
.feature-card {
  background: var(--vert-clair);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}

.feature-text {
  flex: 2;
}

.feature-text h3 {
  font-size: 28px;
  color: var(--vert);
  margin-bottom: 14px;
}

.feature-text p {
  display: flex;
  color: var(--muted);
  margin-bottom: 40px;
  line-height: 3;
}

.feature-chart {
  flex: 1;
  background: var(--blanc);
  border-radius: 14px;
  padding: 20px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.avatars-row {
  display: flex;
}

.avatars-row img {
  width: 28px;
  height: 28px;
  border-radius: 40%;
  border: 2px solid var(--blanc);
  margin-left: -8px;
  object-fit: cover;
}

/* barres du graphique */
.bars {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  height: 180px;
}

.bar {
  flex: 1;
  background: var(--vert-clair);
  border-radius: 6px 6px 6px 6px;
  
}

.bar.active {
  background: var(--vert);
}

/* 2 cartes features en ligne */
.feature-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: left;
}

.feature-card2 {
  background: var(--vert-clair);
  border-radius: 20px;
  padding: 30px;
}

.feature-card2 h3 {
  font-size: 22px;
  color: var(--vert);
  margin-bottom: 10px;
}

.feature-card2>p {
  color: var(--muted);
  font-size: 14px;
  margin-bottom: 20px;
}

/* liste notifications */
.notif-list {
  background: var(--blanc);
  border-radius: 12px;
  padding: 16px;
}

.notif-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.notif-item:last-child {
  border-bottom: none;
}

.notif-item.muted {
  color: #aaa;
}

/* toggle switch */
.toggle {
  width: 40px;
  height: 22px;
  background: #ddd;
  border-radius: 20px;
}

.toggle.on {
  background: var(--vert);
}

.toggle.half {
  background: #aaa;
}

/* activité */
.activity {
  background: var(--blanc);
  border-radius: 12px;
  padding: 16px;
}

.act-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 14px;
}

.act-header a {
  color: var(--vert);
  font-weight: 600;
}

.act-item {
  display: flex;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 13px;
}

.act-item:last-child {
  border-bottom: none;
}

.act-item img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.act-item p {
  color: var(--muted);
  margin-top: 3px;
}

/* ===== TÉMOIGNAGE ===== */
.testimonial {
  text-align: center;
  padding: 80px 60px 60px;
}

.quote-icon {
  font-size: 60px;
  color: var(--vert);
  font-family: Georgia, serif;
  display: block;
  margin-bottom: 10px;
}

blockquote {
  font-size: 22px;
  font-weight: 500;
  color: var(--vert);
  max-width: 750px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-bottom: 50px;
}

.author img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.author strong {
  display: block;
  font-size: 15px;
}

.author span {
  font-size: 13px;
  color: var(--muted);
}

/* stats */
.stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  background: var(--gris);
  border-radius: 16px;
  padding: 40px;
}

.stat h2 {
  font-size: 42px;
  color: var(--vert);
}

.stat p {
  font-size: 14px;
  color: var(--muted);
}

/* ===== CTA ===== */
.cta {
  background: var(--vert-gris);
  color: var(--blanc);
  text-align: center;
  padding: 70px 60px;
  display: flex;

}

.cta h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}

.underline-white {
  text-decoration: underline;
  text-decoration-color: var(--jaune);
  text-underline-offset: 6px;
}

.cta-btns {
  /*display: flex;*/
  gap: 30px;
  justify-content: center;
  margin-left: 500px;
}

/* ===== FOOTER ===== */
footer {
  background: var(--vert);
  color: #ccc;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 60px;
  position: relative;
}

.footer-brand .logo {
  color: var(--blanc);
  margin-bottom: 16px;
}

.footer-brand p {
  font-size: 14px;
  margin-top: 8px;
}

.footer-col h4 {
  color: var(--blanc);
  font-size: 15px;
  margin-bottom: 16px;
}

.footer-col li {
  margin-bottom: 10px;
}

.footer-col a {
  font-size: 14px;
  color: #aaa;
}

.footer-col a:hover {
  color: var(--blanc);
}

.footer-bottom {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2e5046;
  padding-top: 20px;
  font-size: 13px;
  color: #888;
}

.socials {
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.socials a {
  color: #888;
}

.socials a:hover {
  color: var(--blanc);
}

.chevron {
  width: 14px;
  height: 14px;
  margin-left: 0p x;
  margin-top: 2px;
  padding-left: 0;
  transition: transform 0.3s ease;
  vertical-align: middle;
  margin-left: 2px;

}
.direction {
  margin-left: 0px;
  left: 280px; top: 110px;
  transform: rotate(180deg);
  
}
.hero::before {
  content: '';                /* obligatoire pour que ::after existe */
  position: absolute;
  inset: 0;                   /* couvre tout : top/right/bottom/left = 0 */
  pointer-events: none;       /* les clics passent à travers */

  /* 4 dégradés superposés, un par bord */
  background:
    /* bord GAUCHE : de la couleur du fond vers transparent */
    linear-gradient(to right,  #f5f5f0 7%, transparent 20%),
    /* bord DROIT */
    linear-gradient(to left,   #f5f5f0 7%, transparent 20%),
    /* bord HAUT */
    linear-gradient(to bottom, #f5f5f0 7%, transparent 20%),
    /* bord BAS */
    linear-gradient(to top,    #f5f5f0 7%, transparent 20%);
}
.dir1 {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 2;
  /* filtre CSS pour colorer le SVG en vert foncé */
  filter: invert(18%) sepia(40%) saturate(600%) hue-rotate(110deg) brightness(55%);
  top: 92px;left: 457px;
  transform: rotate(180deg);
}
.dir2 {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 2;
  /* filtre CSS pour colorer le SVG en vert foncé */
  filter: invert(18%) sepia(40%) saturate(600%) hue-rotate(110deg) brightness(55%);
  top: 97px;
  right: 451px;
  transform: rotate(260deg);
}
.dir3{
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 2;
  filter: invert(18%) sepia(40%) saturate(600%) hue-rotate(110deg) brightness(55%);
  top: 439px;
  left: 560px;
  transform: rotate(96deg);
}
.dir4 {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 2;
  /* filtre CSS pour colorer le SVG en vert foncé */
  filter: invert(18%) sepia(40%) saturate(600%) hue-rotate(110deg) brightness(55%);
  top: 430px;
  right: 571px;
  transform: rotate(-20deg);
}


/* ===== ÉTAPE 1 : Cacher la checkbox originale ===== */
/* On ne veut pas voir la case à cocher moche du navigateur */
.toggle-switch input {
  display: none;
}

/* ===== ÉTAPE 2 : La boîte allongée (le fond vert) ===== */
.toggle-switch {
  position: relative;   /* sert de repère pour le cercle à l'intérieur */
  display: inline-block;
  width: 44px;          /* largeur du toggle */
  height: 24px;         /* hauteur du toggle */
  cursor: pointer;      /* curseur main au survol */
}

/* ===== ÉTAPE 3 : Le fond du toggle ===== */
.slider {
  position: absolute;
  inset: 0;             /* couvre tout : top/right/bottom/left = 0 */
  background: #ccc;     /* gris par défaut (état OFF) */
  border-radius: 999px; /* bords très arrondis = forme pilule */
  transition: background 0.3s ease; /* animation de couleur */
}

/* ===== ÉTAPE 4 : Le cercle blanc qui glisse ===== */
.slider::before {
  content: '';          /* obligatoire pour créer l'élément */
  position: absolute;
  width: 18px;          /* taille du cercle */
  height: 18px;
  background: white;
  border-radius: 50%;   /* cercle parfait */
  top: 3px;             /* centré verticalement */
  left: 3px;            /* position à GAUCHE (état OFF) */
  transition: transform 0.3s ease; /* animation de glissement */
}

/* ===== ÉTAPE 5 : Quand c'est coché (état ON) ===== */
/* Le sélecteur dit : "quand la checkbox est cochée,
   change le .slider qui est juste après" */
.toggle-switch input:checked + .slider {
  background: #1a3c34;  /* vert foncé */
}

/* Déplace le cercle vers la DROITE */
.toggle-switch input:checked + .slider::before {
  transform: translateX(20px); /* glisse de 20px vers la droite */
}