/*  VARIABLES & RESET  */
* {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  box-sizing: border-box;
}

:root {
  --vert: #004838;
  --vert-gris:#073127;
  --vert-clair: #e8ede9;
  --jaune: #c8f135;
  --blanc: #ffffff;
  --gris: #f5f5f0;
  --texte: #222;
  --muted: #666;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: var(--texte);
  background: var(--blanc);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*  BOUTONS  */
.btn-dark {
  background: var(--vert);
  color: var(--jaune);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-outline {
  border: 2px solid var(--blanc);
  color: var(--vert);
  padding: 11px 24px;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
  background: var(--blanc);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-green {
  background: var(--jaune);
  color: var(--vert);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 700;
  display: inline-block;

}

.btn-outline-white {
  border: 2px solid var(--blanc);
  color: var(--blanc);
  padding: 11px 24px;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
}

/* ===== BADGE ===== */
.badge {
  display: inline-block;
  /*border: 1px solid #ccc;*/
  border-radius: 20px;
  background: var(--blanc);
  padding: 5px 14px;
  font-size: 14px;
  color: var(--vert);
  margin-bottom: 20px;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 60px;
  position: sticky;
  top: 0;
  background: var(--gris);
  /*border-bottom: 1px solid #eee;*/
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.logo-icon {
  font-size: 22px;
  color: var(--vert);
}

.nav-links {
  display: flex;
  gap: 32px;
  font-size: 15px;
  margin-left: 100px;
}

.nav-btns {
  display: flex;
  gap: 12px;
}

/* ===== HERO ===== */
.hero {
position: relative;
    min-height: 90vh;           /* plus haut comme sur l'image */
    background-color: #f8f9fa;  /* blanc très légèrement gris */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px 120px;

    /* Grille subtile (carreaux) */
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.055) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.055) 1px, transparent 1px);
    background-size: 45px 45px;     /* ajuste entre 35px et 50px selon le rendu */
}

.hero h1 {
  font-size: 56px;
  font-weight: 800;
  color: var(--vert);
  line-height: 1.15;
  margin-bottom: 20px;
}

/* mot souligné en jaune */
.underline {
  text-decoration: underline;
  text-decoration-color: var(--jaune);
  text-underline-offset: 6px;
}

.hero p {
  color: var(--muted);
  font-size: 16px;
  margin-bottom: 36px;
}

.hero-btns {
  display: flex;
  gap: 14px;
  justify-content: center;
}

/* avatars flottants dans le hero */
.avatar {
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--blanc);
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.av1 {
  top: 46px;
  left: 400px;
  padding-left: 0;
  
  justify-content: center;
}

.av2 {
  top: 46px;
  right: 400px;
  padding-left: 0;
}

.av3 {
  top: 430px;
  left: 500px;
  padding-left: 0;
}

.av4 {
  top: 430px;
  right: 500px;
  padding-left: 0;
}

/* ===== PARTENAIRES ===== */
.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 36px 60px;
  border-top: 1px solid #eee;
  flex-wrap: wrap;
  margin-top: 100px;
}

.partners>p {
  font-size: 14px;
  color: var(--muted);
  line-height: 1.4;
}

.logos {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  align-items: center;
}

.logos span {
  font-weight: 600;
  font-size: 15px;
  color: #555;
}

/* ===== FEATURES ===== */
.features {
  padding: 80px 60px;
  text-align: center;
}

.features h2 {
  font-size: 38px;
  font-weight: 700;
  color: var(--vert);
  margin-bottom: 16px;
}

.features>p {
  color: var(--muted);
  max-width: 500px;
  margin: 0 auto 50px;
}

/* carte dashboard */
.feature-card {
  background: var(--vert-clair);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}

.feature-text {
  flex: 1;
}

.feature-text h3 {
  font-size: 28px;
  color: var(--vert);
  margin-bottom: 14px;
}

.feature-text p {
  color: var(--muted);
  margin-bottom: 24px;
  line-height: 1.6;
}

.feature-chart {
  flex: 1;
  background: var(--blanc);
  border-radius: 14px;
  padding: 20px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.avatars-row {
  display: flex;
}

.avatars-row img {
  width: 28px;
  height: 28px;
  border-radius: 40%;
  border: 2px solid var(--blanc);
  margin-left: -8px;
  object-fit: cover;
}

/* barres du graphique */
.bars {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  height: 180px;
}

.bar {
  flex: 1;
  background: var(--vert-clair);
  border-radius: 6px 6px 6px 6px;
  
}

.bar.active {
  background: var(--vert);
}

/* 2 cartes features en ligne */
.feature-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: left;
}

.feature-card2 {
  background: var(--vert-clair);
  border-radius: 20px;
  padding: 30px;
}

.feature-card2 h3 {
  font-size: 22px;
  color: var(--vert);
  margin-bottom: 10px;
}

.feature-card2>p {
  color: var(--muted);
  font-size: 14px;
  margin-bottom: 20px;
}

/* liste notifications */
.notif-list {
  background: var(--blanc);
  border-radius: 12px;
  padding: 16px;
}

.notif-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.notif-item:last-child {
  border-bottom: none;
}

.notif-item.muted {
  color: #aaa;
}

/* toggle switch */
.toggle {
  width: 40px;
  height: 22px;
  background: #ddd;
  border-radius: 20px;
}

.toggle.on {
  background: var(--vert);
}

.toggle.half {
  background: #aaa;
}

/* activité */
.activity {
  background: var(--blanc);
  border-radius: 12px;
  padding: 16px;
}

.act-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 14px;
}

.act-header a {
  color: var(--vert);
  font-weight: 600;
}

.act-item {
  display: flex;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 13px;
}

.act-item:last-child {
  border-bottom: none;
}

.act-item img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.act-item p {
  color: var(--muted);
  margin-top: 3px;
}

/* ===== TÉMOIGNAGE ===== */
.testimonial {
  text-align: center;
  padding: 80px 60px 60px;
}

.quote-icon {
  font-size: 60px;
  color: var(--vert);
  font-family: Georgia, serif;
  display: block;
  margin-bottom: 10px;
}

blockquote {
  font-size: 22px;
  font-weight: 500;
  color: var(--vert);
  max-width: 750px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-bottom: 50px;
}

.author img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.author strong {
  display: block;
  font-size: 15px;
}

.author span {
  font-size: 13px;
  color: var(--muted);
}

/* stats */
.stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  background: var(--gris);
  border-radius: 16px;
  padding: 40px;
}

.stat h2 {
  font-size: 42px;
  color: var(--vert);
}

.stat p {
  font-size: 14px;
  color: var(--muted);
}

/* ===== CTA ===== */
.cta {
  background: var(--vert-gris);
  color: var(--blanc);
  text-align: center;
  padding: 70px 60px;
  display: flex;

}

.cta h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}

.underline-white {
  text-decoration: underline;
  text-decoration-color: var(--jaune);
  text-underline-offset: 6px;
}

.cta-btns {
  /*display: flex;*/
  gap: 30px;
  justify-content: center;
  margin-left: 500px;
}

/* ===== FOOTER ===== */
footer {
  background: var(--vert);
  color: #ccc;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 60px;
  position: relative;
}

.footer-brand .logo {
  color: var(--blanc);
  margin-bottom: 16px;
}

.footer-brand p {
  font-size: 14px;
  margin-top: 8px;
}

.footer-col h4 {
  color: var(--blanc);
  font-size: 15px;
  margin-bottom: 16px;
}

.footer-col li {
  margin-bottom: 10px;
}

.footer-col a {
  font-size: 14px;
  color: #aaa;
}

.footer-col a:hover {
  color: var(--blanc);
}

.footer-bottom {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2e5046;
  padding-top: 20px;
  font-size: 13px;
  color: #888;
}

.socials {
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.socials a {
  color: #888;
}

.socials a:hover {
  color: var(--blanc);
}

.chevron {
  width: 14px;
  height: 14px;
  margin-left: 0p x;
  margin-top: 2px;
  padding-left: 0;
  transition: transform 0.3s ease;

}
.direction {
  margin-left: 0px;
  left: 280px; top: 110px;
  transform: rotate(180deg);
  
}